.free-rooms-container {
    margin-top: 40px;
    border: 7px solid #5c8177ec;
    border-radius: 8px;
    text-align: center;
    background-color: #5c8177ec;
    margin-bottom: 5%;
}
  
.free-rooms-container h2 {
    background-color: #5c8177ec;
}

.free-rooms-display {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 20px;
    padding: 25px;
    border-radius: 8px;
    background-color: #b1b9b7ec;
}
  
@media (max-width: 1090px) {
    .free-rooms-display {
      flex-direction: column;
    }
}

.slot-column {
    flex: 1;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #cccccc;
    border: 3px solid #5c8177ec;
}
  
.slot-column h3 {
    color: #333;
    margin-bottom: 15px;
}
  
.dept-rooms {
    width: 100%;
}

.dept-rooms p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #555;
}
  
.dept-rooms strong {
    color: #000;
}